/* Base attributes for nubblish formatting. */
body, form {
  margin: 0;
  padding: 0;
  background: #000;
  color: #FFF;
}

#header {
  text-align: center;
  width: 100%;
  height: auto;
}

.l-portfolio {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.l-portfolio > li {
  display: inline-block;
  margin: 0 0 10px 10px;

  /* IE7 hack to mimic inline-block on block elements */
  *display: inline;
  *zoom: 1;
}
