/* Base attributes for nubblish formatting. */
body, form {
  margin: 0;
  background-color: #000000;
  color: #ffffff;
  padding: 0;
}

#header {
  width: auto;
  height: auto;
}

#header > img {
  text-align: center;
  background-position: bottom;
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: repeat-x;
}

.l-portfolio {
  /*text-align: center;*/
  margin: 0;
  padding: 10px 50px 10px 50px;
  list-style-type: none;
}

.l-portfolio > li {
  display: inline-block;
  margin: 0 50px 0 10px;

  /* IE7 hack to mimic inline-block on block elements */
  *display: inline;
  *zoom: 1;
}
